.header-items {
  display: flex;
  justify-content: space-between;
}
.logo-container {
  width: fit-content;
}

.logo {
  width: 64px;
  margin: 4px;
}

.nav-items {
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  margin-top: 2px;
}
.nav-items > ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
}

.nav-items > ul > li {
  padding: 10px;
  justify-content: space-between;
  text-align: end;
}

a:link {
  text-decoration: none;
  color: black;
}

.res-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.res-card {
  border-radius: 5px;
  margin: 10px;
  cursor: pointer;
  width: 300px;
}

.res-card:hover {
  transform: scale(1.03);
}

.res-card > img {
  width: 290px;
  border-radius: 10px;
}

.opened-label {
  position: absolute;
  margin: 5px;
  padding: 5px;
  border-radius: 4px;
  background: linear-gradient(to right, red, yellow);
  color: white;
}

.menu {
  text-align: center;
  margin: 10px;
  padding: 10px;
  font-weight: 400;
}

.accordian {
  width: 600px;
  height: auto;
  border-radius: 5px;
  margin: auto;
  margin-bottom: 10px;
  padding: 5px;
  box-shadow: 0px 2px  grey;
}

.down-arrow {
  float: right;
  margin-right: 10px;
}

.accordian-title {
  margin-top: 10px;
  font-weight: 600;
  font-family: sans-serif;
}

.items {
  border-bottom: 2px solid grey;
  /* display: flex;
  flex-direction: column; 
  align-items: flex-start;
 
  margin-top: 50px;
  padding-left: 10px; */
}

.items-info {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
}

.items-content {
  /* width: 317px; */
}

.items-image {
  /* Adjust width as needed */
}
.items-image img {
  width: 20%;
  margin-top: -120px;
  margin-left: 450px; /* Add some margin below the image */
}
.item-name {
  margin-top: 20px;
  font-family: sans-serif;
  font-weight: 700;
  font-size: 20px;
}

.item-decription {
  margin: 10px;
}

.item-decription > p {
  margin-left: -15px;
  margin-right: 150px;
  font-weight: 200;
  font-size: 10px;
  font-family: sans-serif;
}

.add-button {
  left: 40px;
  border: 2px solid green;
  border-radius: 5px;
  color: black;
  background-color: white;
  cursor: pointer;
}

.input {
  border: black;
}


.cart{
    color:black;
    
}

.cart-items {
  margin-left:500px;
  width: 600px;
}

.contact-heading{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: 600;
    font-family: sans-serif;
    margin-top: 10px;

}

.contact-form{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
}

.submit-form {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  font-size: 15px;

}